@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.reviews .flex.flex-col.justify-center.p-7.items-center h2 {
    margin-top: 3rem;
}

.reviews .select_plan {
    color: #767982;
}

.reviews_wrapper {
    max-width: 80%;
    margin: auto;
    gap: 100px;
}

.rating {
    color: #767982;
    margin-right: 8px;
}

.reviews .heading2 {
    color: #767982;
}

.rating_wrapper {
    margin-left: 100px;
}

h2.text-4xl.font-bold.mb-3 {
    font-size: 55px;

}