.navbar .links {
    background-color: #0F1523;
    padding: 5px 20px;
    border-radius: 50px;
}

.navbar .links a {
    color: #70747E;
}

.navbar .logo,
.navbar .links,
.navbar .login {
    width: 30%;
}

.navbar .login {
    justify-content: center;
    gap: 44px;
}

.navbar .links {
    justify-content: center;
}

.navbar .links a.active {
    border-bottom: 1.5px solid blue;
}

.navbar .links:active {
    justify-content: center;
    border: 2px solid #2C5DFE;
}

.nav_basic {

    border: 1px solid transparent;

}

.border-blue-500 {
    border-color: #4d80ff;

}